@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

@keyframes fadeIn {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fadeInAnimation {
    animation: 1.5s fadeIn;
}

body {
    word-wrap: break-word;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.intro {
    padding: 20px;
    min-height: 100vh;
    background-color: #e5e6e0;
    /* background-color: #ced7de; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3vmax;
    font-family: 'Raleway', sans-serif;
}

.intro .text {
    width: 40%;
}

.link:hover {
    opacity: 70%;
}

.about {
    padding: 20px;
    min-height: 100vh;
    background-color: #8C52FF;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    /* overflow: hidden; */
}

.about .text {
    font-size: 3vmax;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 50%;
    /* width: fit-content;
    display: flex;
    flex-wrap: nowrap; */
}

/* .about .text>div {
    min-width: 100%;
} */

.hljs {
    background-color: #E39EF7;
    border-radius: 20px;
    font-size: 14px;
}



.projects {
    padding: 40px;
    min-height: 100vh;
    background-color: #f3b6ff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* font-size: 3vmax; */
    font-family: 'Raleway', sans-serif;
}

.projects .card {
    border-radius: 20px;
    margin: 10px 10px;
    height: 45vh;
    width: 25vw;
}

.projects .card .card-header {
    font-size: x-large;
    height: 20vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.projects .card .card-text {
    font-size: smaller;
}

.projects .card .card-footer {
    text-align: center;
}

.btn-primary {
    background-color: #8C52FF !important;
    border: none;
}

.btn-success {
    background-color: #FFA274 !important;
    border: none;
}

.socials {
    padding: 20px;
    min-height: 100vh;
    background-color: #F7E29E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3vmax;
    flex-direction: row-reverse;
    font-family: 'Raleway', sans-serif;
}

.soc-btn {
    font-size: larger;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vmax;
    height: 8vmax;
    border-radius: 20%;
    border: #887d55 solid 2px;
}


/* #myCarousel {
    height: 100vh;
    width: 100%;
} */

@media (max-width: 767px) {

    .intro,
    .about,
    .socials {
        flex-direction: column-reverse;
        text-align: center;
    }

    .projects {
        flex-direction: column;
        text-align: center;
    }

    .intro .text,
    .about .text,
    .projects .text,
    .socials .text {
        width: fit-content;
    }

    pre code {
        width: 70vw;
        text-align: start;
    }

    .projects .card .card-header {
        display: flex;
    }

    .projects .card {
        width: unset;
        height: unset;
    }

    .projects .card .card-header img {
        display: none;
    }
}