@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
} */
:root {
    --foreground-rgb: 229, 229, 229;
    /* --background-start-rgb: 17, 17, 17; */
    /* --background-end-rgb: 17, 17, 17; */
    --background-start-rgb: 19, 9, 9;
    --background-end-rgb: 19, 9, 9;

    /* --background-end-rgb: 24, 24, 35; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #130909;
}

::-webkit-scrollbar-thumb {
    background: #da0037;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #da003740;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

